@page
@model FitComradeV2.Pages.Login.LoginAccountModel
@{
}
<h1>Login</h1>

<hr />
<head>
    <link rel="stylesheet" href="~/css/LoginStyle.css" />
</head>

<!-- Button to open the modal login form -->
<button onclick="document.getElementById('id01').style.display='block'">Login</button>

<!-- The Modal -->
<div id="id01" class="modal">
    <span onclick="document.getElementById('id01').style.display='none'"
          class="close" title="Close Modal">&times;</span>

    <!-- Modal Content -->
    <form class="modal-content animate" method="post">
        <div class="imgcontainer">
            <img src="~/images/FitComrade logo.png" alt="Avatar" class="avatar">
        </div>

        <div class="container">
            <div class="form-group">
                <label asp-for="Profile.UserName" class="control-label"></label>
                <input asp-for="Profile.UserName" class="form-control" />
                <span asp-validation-for="Profile.UserName" class="text-danger"></span>
            </div>

            <div class="form-group">
                <label asp-for="Profile.Password" class="control-label"></label>
                <input asp-for="Profile.Password" class="form-control" />
                <span asp-validation-for="Profile.Password" class="text-danger"></span>
            </div>

            <button type="submit">Login</button>
            <label>
                <input type="checkbox" checked="checked" name="remember"> Remember me
            </label>
        </div>

        <div class="container" style="background-color:#f1f1f1">
            <button type="button" onclick="document.getElementById('id01').style.display='none'" class="cancelbtn">Cancel</button>
            <span class="psw">Forgot <a href="#">password?</a></span>
        </div>
    </form>
</div>

<script>
    // Get the modal
    var modal = document.getElementById('id01');

    // When the user clicks anywhere outside of the modal, close it
    window.onclick = function (event) {
        if (event.target == modal) {
            modal.style.display = "none";
        }
    }
</script>